@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Nova+Square&family=Pacifico&family=Philosopher:ital@1&family=Stick+No+Bills:wght@300&family=Zen+Kurenaido&display=swap');

body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
}



header {
       background-color: #9D112D;
       color: #fff;
       text-align: center;
       padding: 1em 0;
}



nav {
     background-color: #810E25;
      color: #fff;
     text-align: center;
     padding: 1em 0;
}




nav a {
    color: #fff;
    text-decoration: none;
     margin: 0 1em;
        }



section {
    padding: 2em;
    
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
        }

.Logo_SS{
    width: 450px;
    height: 100px;
    
}

.nazwafirmy{
    font-family: 'Bruno Ace', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linki{
    font-family: 'Bruno Ace', sans-serif;
}

.linki:hover{
    color:black;
}

.detail{
    filter: brightness(1);
}

.tytul{
    font-family: 'Bruno Ace', sans-serif;
    color: white;
}

.tytul1{
    font-family: 'Bruno Ace', sans-serif;
    color: black;
}

.main{
    background-image: url(Bmw.png);
    background-size: cover ;
    filter: brightness(0.3);
    height: 1000px;
    display: flex;
    padding: 50px;
    justify-content: center;
    height: 500px;
    
    
    
}





.tile-section {
      display: flex;
    background-color: gray;
      justify-content: space-around;
      padding: 20px;
    }

    .tile {
      flex: 1; 
      margin-right: 20px;
      padding: 20px;
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    
    .tile:last-child {
      margin-right: 0;
    }


.mapa{
    width: 800px;
}

iframe{
    width: 1800px;
}


